.chapter-each-display {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: left;
  flex-direction: column;
  margin-bottom: 20px;
  overflow-x: hidden;
  // border-top: 1px solid $gray;
}

.chapter-each-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 95px;
  font-size: 12px;
  text-align: left;
  width: 100%;
  margin: 0px 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-family: 'Comfortaa', cursive;
}

.chapter-each-description {
  font-size: 12px;
  padding: 0px 20px;
  text-align: left;
  width: 100%;
  font-weight: 300;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.04em;
}

.chapter-hr {
  width: 50%;
  border: 1px solid $blue;
}
