#back {
  color: $gray;
}

#back {
  letter-spacing: 0.04em;
  font-family: 'Comfortaa', cursive;
}

// .profile-chapter {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px;
//   border-bottom: 1px solid $gray;
//   flex-shrink: 0;
// }

.tabs-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;
  margin: 0px;
}

.tabs-section a {
  letter-spacing: 0.04em;
  font-family: 'Comfortaa', cursive;
}


.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0px;
}

ul {
  padding-inline-start: 0px;
}

.tabs-underlined li {
  text-decoration: none;
  list-style: none;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

// .tab-background {
//   background: gray;
// }

.profile-active {
  display: none;
}

.profile-active.active {
  display: block;
}

.chapter-active {
  display: none;
}

.chapter-active.active {
  display: block;
}
