#back {
  color: $gray;
}

#back {
  letter-spacing: 0.04em;
  font-family: 'Comfortaa', cursive;
}

.profile-chapter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  height: 0px;
  // justify-content: space-between;
  // align-items: center;
  // padding: 10px;
  // border-bottom: 1px solid $gray;
  // flex-shrink: 0;
}

.tabs-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;
  margin: 0px;
}

.tabs-section a {
  letter-spacing: 0.04em;
  font-family: 'Comfortaa', cursive;
}


.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0px;
  margin-top: 5px;
}

ul {
  padding-inline-start: 0px;
}

.tabs-underlined li {
  text-decoration: none;
  list-style: none;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

// .tab-background {
//   background: gray;
// }

.profile-active {
  display: none;
}

.profile-active.active {
  // display: block;
      min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.chapter-active {
  display: none;
}

.chapter-active.active {
  display: block;
}

.no-border {
  border: none;
}

.single-body-connexion {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.connexion-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.connexion-attributes-section {
  display: grid;
  grid-template-columns:60% 30%;
  // justify-content: center;
  align-items: center;
  margin: 10px 0px;
  font-family: 'Comfortaa', cursive;
}

.connexion-attributes-categories {
  font-weight: 700;
  display: flex;
  justify-content: center;
  height: 60px;
  font-family: 'Comfortaa', cursive;
}

.connexion-attributes-categories-center {
  text-align: center;
  height: 40px;
}

.connexion-attributes-answers {
  font-weight: 300;
  display: flex;
  justify-content: center;
  height: 60px;
  font-family: 'Comfortaa', cursive;
}

.connexion-attributes-answers-inputs {
  font-weight: 300;
  display: flex;
  justify-content: center;
  height: 40px;
  font-family: 'Comfortaa', cursive;
}

.new-inputs {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0 0 0 50px white;
  border: 1px solid $gray;
  border-width: thin;
  border-radius: 4px;
}

.add-new-category {
display: grid;
grid-template-columns: auto;
height: 60px;
justify-content: center;
align-items: center;
margin: 10px auto;
width: 50%;
background-color: white;
}

.add-new-category-button {
display: flex;
justify-content: center;
padding: 15px;
border: 1px solid $gray;
background-color: white;
font-size: 12px;
}

.add-new-category a {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: 1px solid $gray;
  background-color: white;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  line-height: 1.16;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.add-new-category-button > svg {
  font-size: 12px;
}

.profile-circles-section {
  border-top: 1px solid $gray;

}

.my-circles {
  // display: flex;
  // justify-content: center;

  // horizontal scrolling
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.connexion-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
  color: $blue;
  line-height: 100px;
  text-align: center;
  background: white;
  border: 1px solid $blue;
  padding: 0px;
  margin: 5px;

  // for horizontal scrolling
  display: inline-block;
}




/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

