body {
  background: white;
}

.main-container {
  max-height: 100vh;
  // display: grid;
  // grid-gap: 0px;

  display: flex;
  flex-direction: column
}
//   grid-template-columns: 1fr;
//   grid-template-rows: auto auto 7fr 1fr;
//   // grid-template-rows: 6fr 1fr;
//   grid-template-areas:
//         "logo-settings"
//         "section-header"
//         "section-body"
//         "footer-tabs"
// }

.logo-settings {
  grid-area: logo-settings;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $gray;

  flex-shrink: 0;
}

.section-header {
  grid-area: section-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $gray;

  flex-shrink: 0;
}

.section-header h4 {
  font-size: 30px;
  margin: 0;
}

.section-body {
  grid-area: section-body;
  overflow-y: auto;
  max-width: 100%;
}

.section-body-connexion {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $gray;
  height: 100px;
  text-decoration: none;
  color: inherit;

}
.section-body-connexion-a {
  text-decoration: none;
  color: inherit;
}

.connexion-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.connextion-info {

}

.connexion-name {
  font-size: 18px;
  font-weight: 600;
  margin: 2px;
  margin-bottom: 10px;
}

.connexion-circle-list {
  font-size: 14px;
  margin: 4px;
}

.connexion-logged {
  font-size: 14px;
  margin: 4px;
}

.connextion-circles {

}

.circle {
  height: 20px;
  width: 20px;
  background-color: $blue;
  border-radius: 50%;
  display: inline-block;
}

.footer-tabs {
  grid-area: footer-tabs;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 12px;
  color: $gray;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: inset 0px 11px 8px -10px #CCC,
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar p {
  margin: 0;
}

.calendar span {
  color: $blue
}

.conversations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversations span {
  color: $blue
}

.conversations p {
  margin: 0;
}

.add-new-connexion-section {
  align-items: center;
  padding: 10px;
  height: 75px;
  animation: slide-down .6s ease;
}


.add-new-connexion {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(30px, 100px) minmax(20px, 50px);
  grid-gap: 10px;
  padding: 5px 10px;
}

.add-new-connexion-input {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 100px white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  // width: 90%;
  padding: 12px;
}

.add-new-connexion input[type="text"]{
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  line-height: 16px;
}

.add-new-connexion-button {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.04em;
  padding: 0 20px;
  border: 1px solid $gray;
  background: white;
  border-radius: 4px;
}

.close-out {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.04em;
  padding: 0 10px;
  // border: 1px solid $gray;
  // background: white;
  // border-radius: 4px;
}

.removed-item {
  animation: slide-up 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 700px) {
   .main-container{
    height: 95vh;
    margin-top: 25px;
    max-width: 900px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}
