extends layout

include mixins/_loginForm

block content
  .login-register-container
    a.login-back(href=`/`)
      p back
    h2.login-register-form-header register
    form.login-register-forms(action="/register" method="POST" autocomplete="off")
      input.email-password(type="email" name="email" placeholder="email address")
      input.email-password(type="password" name="password" placeholder="password")
      input.email-password(type="password" name="password-confirm" placeholder="confirm password")
      input.register-secondary.register-register(type="submit" value="register")
